@model int

@{
    ViewBag.Title = "Результаты теста";
}

<h3>Вы набрали @Model/@ViewBag.Res правильных ответов!</h3>

@section Footer {
       <h3>Ты умница!</h3>
}

<a href="/Home/Start">перейти к главному меню</a>